{% load static %}

<section class="about" id="about">

    <div class="container about-container">

        <!-- IMAGE SLIDER -->

        <div class="about-slider">

            <button class="slide-btn prev">
                &#10094;
            </button>

            <div class="slider-window">

                <div class="slider-track">

                    <img src="{% static 'images/about.webp' %}" alt="">
                    <img src="{% static 'images/about.webp' %}" alt="">
                    <img src="{% static 'images/about.webp' %}" alt="">
                    <img src="{% static 'images/about.webp' %}" alt="">
                    <img src="{% static 'images/about.webp' %}" alt="">

                </div>

            </div>

            <button class="slide-btn next">
                &#10095;
            </button>

        </div>

        <!-- CONTENT -->

        <div class="about-content">

            <span class="section-tag">
                ABOUT OAKLARCH
            </span>

            <h2>
                Designing Interiors <br>
                That Reflect Your Lifestyle
            </h2>

            <p>
                At OAKLARCH, we believe every space tells a story.
                Every project blends timeless aesthetics with
                modern functionality to create inspiring interiors.
            </p>

            <p>
                From luxury homes to commercial environments,
                every detail is crafted with precision,
                elegance and purpose.
            </p>

            <a href="#projects" class="about-btn">
                View Projects
            </a>

        </div>

    </div>

</section>