{% load static %}

<section class="intro" id="home">

    <!-- Left Content -->
    <div class="intro-content">

        <span class="intro-subtitle">
            OAKLARCH
        </span>

        <h1>
            Crafting Spaces <br>
            That Inspire
        </h1>

        <p>
            OAKLARCH transforms everyday spaces into timeless interiors
            through thoughtful design, natural materials, and modern elegance.
        </p>

        <a href="#about" class="intro-btn">
            Discover More
        </a>

    </div>

    <!-- Right Image -->
    <div class="intro-image">

        <img src="{% static 'images/forestgreen.webp' %}" alt="Luxury Interior">

    </div>

</section>