{% extends 'dashboard/base.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static "dashboard/css/dashboard_gallery.css" %}">

{% endblock %}

{% block content %}

<div class="page-header">

    <h2>Gallery</h2>

    <a href="{% url 'add_gallery' %}" class="add-btn">

        + Add Image

    </a>

</div>

<table class="gallery-table">

    <thead>

        <tr>

            <th>Image</th>

            <th>Project</th>

            <th>Action</th>

        </tr>

    </thead>

    <tbody>

        {% for img in images %}

        <tr>

            <td>

                <img src="{{ img.image.url }}" width="120">

            </td>

            <td>

                {{ img.project.title }}

            </td>

            <td>

                <a href="{% url 'delete_gallery' img.id %}">

                    Delete

                </a>

            </td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="3">

                No Images

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}